<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>КрасБытСервис</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <header>
        <h1>КрасБытСервис</h1>
        <nav>
            <ul>
                <li><a href="{{ url_for('index') }}">Главная</a></li>
                <li><a href="{{ url_for('about') }}">О нас</a></li>
                <li><a href="{{ url_for('services') }}">Услуги</a></li>
                <li><a href="{{ url_for('contact') }}">Контакты</a></li>
                <li><a href="{{ url_for('zav') }}">Оформить заявку</a><li>
                <li><a href="{{ url_for('sell_wm') }}">Стиральные машинки</a></li>
                <li><a href="{{ url_for('registers') }}">Регистрация</a></li>
                <li><a href="{{ url_for('admin') }}">Административная панель</a></li>

            </ul>
        </nav>
    </header>
    <main>
        {% block content %}{% endblock %}
    </main>
    <footer>
        <p>&copy; 2025 КрасБытСервис. Все права защищены.</p>
    </footer>
</body>
</html>